server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: product-service
          uri: http://localhost:8082
          predicates:
            - Path=/products/**

        - id: inventory-service
          uri: http://localhost:8083
          predicates:
            - Path=/inventory/**

        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**