name: CI/CD Pipeline for API Gateway
on:
  push:
    branches: [ "master" ]
  pull_request:

    permissions:
      contents: read
      packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build project
        run: mvn clean package -DskipTests
        working-directory: api-gateway

      - name: Build Docker image
        run: docker build -t ghcr.io/vulki364/api-gateway:${{ github.sha }} .
        working-directory: api-gateway

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Docker image
        run: docker push ghcr.io/vulki364/api-gateway:${{ github.sha }}
        working-directory: api-gateway