name: CI/CD Pipeline for Notification Service
on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build project
        run: mvn clean package -DskipTests
        working-directory: notification-service

      - name: Build Docker image
        run: docker build -t ghcr.io/vulki364/notification-service:${{ github.sha }} .
        working-directory: notification-service

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }}

      - name: Push Docker image
        run: docker push ghcr.io/vulki364/notification-service:${{ github.sha }}
        working-directory: notification-service